<!DOCTYPE html>

<html lang="en">
<head>
	<title>@(ViewData["Title"])</title>
</head>
<body>
	<div>
		@(RenderBody())
	</div>

	<hr />

	@(RenderSection(name: "SomeSection", required: false))
</body>
</html>
