<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@(ViewData["Title"])</title>
</head>
<body>
	<div>
		@(RenderBody())
	</div>

	<hr />

	@(RenderSection(name: "SomeSection"))
</body>
</html>
