@page

@{
	Layout = "Layouts/_Layout01";
}

<h3>
	خانه
</h3>

<hr />

<div dir="ltr">
	<ul>
		<li>Put Layouts in Layouts Folder!</li>
		<li>Open Graph Protocol: <a href="https://ogp.me/" target="_blank">https://ogp.me</a></li>
		<li>CDN: <a href="https://cdnjs.com/" target="_blank">https://cdnjs.com</a></li>
	</ul>

	<h5>
		Favicon:
	</h5>

	<ul>
		<li><a href="https://favicon.io/" target="_blank">https://favicon.io</a></li>
		<li><a href="https://www.favicon.cc/" target="_blank">https://www.favicon.cc</a></li>
		<li><a href="https://www.favicongenerator.com/" target="_blank">https://www.favicongenerator.com</a></li>
		<li>OK: <a href="https://realfavicongenerator.net/" target="_blank">https://realfavicongenerator.net</a></li>
	</ul>
</div>

<hr />
