@page

@{
	Layout = "_Layout08";
	ViewData["Title"] = "خانه";
}

@section StyleSheets
{
<style>
	h3 {
		color: red;
	}
</style>
}

<h3>
	خانه
</h3>

@section Scripts
{
	<script>
		alert('Hello, World!');
	</script>
}
