@page
@model Server.Pages.Learn018.Page1Model
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
	Layout = "_Layout04";
	ViewBag.Title = "صفحه ۱";
}

<h3 class="mt-3">
	صفحه ۱
</h3>

<hr />

<div dir="ltr">
	In Page:
	<br />
	ViewBag.MyData: @(ViewBag.MyData)
	<br />
	ViewData["MyData"]: @(ViewData["MyData"])
</div>

<hr />
