@page

@{
	ViewData["Title"] = "خانه";
	Layout = "Layouts/_Layout01"; // OK

	//Layout = "/Layouts/_Layout01"; // Error!
	//Layout = "~/Layouts/_Layout01"; // Error!
	//Layout = "Layouts/_Layout01.cshtm"; // Error!
	//Layout = "~/Layouts/_Layout01.cshtm"; // Error!
}

<h3>
	خانه
</h3>

<hr />
