@page
@model Server.Pages.Learn012Model

@{
	int alaki = 1;

	for (var index = 1; index <= 5; index++)
	{
		<h3>
			Hello, World (@(index))!
		</h3>

		<hr />
	}

	alaki++;
}

<hr />

@*
	Error: Razor

	@ for(...)
*@

@for (var index = 1; index <= 5; index++)
{
	<h3>
		Hello, World (@(index))!
	</h3>

	<hr />
}
