@page
@model Server.Pages.Learn013Model

@*
	Error!

	@ for(...)
*@

@*
	@for (int index = 1; index <= 5; index++)
	{
	<h3>Hello, World (@(index))!</h3>

	<hr />
	}
*@

@for (int index = 1; index <= 5; index++)
{
	<h3>
		Hello, World (@(index))!
	</h3>

	<hr />
}

<h3>
	Now Learn: /Index
</h3>

<hr />
