@page
@model Server.Pages.Learn016Model

<!doctype html>

<html lang="fa-IR" dir="rtl">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Learn 16</title>

	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.rtl.min.css" />
	<link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />

	<link href="~/css/site.css" rel="stylesheet" />
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" href="#">متخصصین ایرانی</a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">خانه</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="#">اخبار</a>
					</li>

					<li class="nav-item">
						<a class="nav-link disabled">فروشگاه</a>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							تنظیمات
						</a>

						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="#">ارسال تصویر</a></li>
							<li><a class="dropdown-item" href="#">ویرایش پروفایل</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="#">تایید شماره موبایل</a></li>
							<li><a class="dropdown-item" href="#">تایید نشانی پست الکترونیکی</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<hr />

		<h3>
			چگونه سایت را فارسی کنیم
		</h3>

		<hr />

		<div dir="ltr">
			<ul>
				<li>Learning Hot Reload</li>
				<li><a href="https://fontiran.com/" target="_blank">https://FontIran.com</a></li>
			</ul>
		</div>

		<div class="ltr">
			<ul>
				<li>Learning Hot Reload</li>
				<li><a href="https://fontiran.com/" target="_blank">https://FontIran.com</a></li>
			</ul>
		</div>

		<hr />
	</div>

	<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

	<script src="~/lib/jquery/jquery.min.js"></script>
	<script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
