@page
@model Server.Pages.Learn004Model

<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<h3>
		Hello, World!
	</h3>

	<hr />

	<a href="https://validator.w3.org/">HTML Validator</a>
</body>
</html>
