@page
@model Server.Pages.Learn010Model

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
</head>
<body>
	@*
		Error: Razor

		@Hello
	*@

	@@Hello

	<hr />

	@@@@Hello

	<hr />

	DariushT@GMail.com

	<hr />

	@{
		var myImageFileName = "Dariush";
	}

	@*
		Error: Razor

		<img src="/images/@myImageFileName.jpg" />
	*@

	@{
		var myImageFileNameWithExtension = $"{myImageFileName}.jpg";
	}

	@*
		Error: HTML Validator (https://Validator.W3.org)

		Note: 'alt' attribute is required for 'img' tag (Image Element)
	*@

	<img src="/images/@myImageFileNameWithExtension" />

	<img src="/images/@myImageFileNameWithExtension" alt="Profile Image" />

	<hr />

	<img src="/images/@(myImageFileName).jpg" alt="Profile Image" />

	<hr />

	@*
		Learning '~'
	*@

	<img src="~/images/@(myImageFileName).jpg" alt="Profile Image" />

	<hr />

	<a href="/Index">Home</a>

	<hr />

	<a href="~/Index">Home</a>

	<hr />

	<h3>
		Learning HTML Helper
	</h3>

	@{
		var text = "<h3>Hello, World!</h3>";
	}

	@(text)

	<br />

	@(Html.Raw(value: text))

	<hr />
</body>
</html>
