@page
@model Server.Pages.Learn010Model

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
	@*
		@Hello
	*@

	@@Hello

	<hr />

	@@@@Hello

	<hr />

	DariushT@GMail.com

	<hr />

	@{
		string myImageFileName = "Dariush";
	}

	@*
		Error!

		<img src="/images/@myImageFileName.jpg" />
	*@

	@{
		string myImageFileNameWithExtension = $"{myImageFileName}.jpg";
	}

	@*
		HTML Validator Warning!

		<img src="/images/@myImageFileNameWithExtension" />
	*@

	<img src="/images/@myImageFileNameWithExtension" alt="Profile Image" />

	<hr />

	<img src="/images/@(myImageFileName).jpg" alt="Profile Image" />

	<hr />

	<img src="~/images/@(myImageFileName).jpg" alt="Profile Image" />

	<hr />

	<a href="~/Index">Home</a>
</body>
</html>
