@page
@model Server.Pages.Learn015Model

<!doctype html>

<html lang="en-US">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Learn 15</title>

	@*
		<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" />
	*@

	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />

	<link href="~/css/site.css" rel="stylesheet" />
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" href="#">Navbar</a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Active Link</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="#">Link</a>
					</li>

					<li class="nav-item">
						<a class="nav-link disabled">Disabled</a>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Dropdown
						</a>

						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="#">Action 1</a></li>
							<li><a class="dropdown-item" href="#">Action 2</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="#">Action 3</a></li>
							<li><a class="dropdown-item" href="#">Action 4</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<hr />

		<h3>
			Learning Bootstrap 5.x - Navbar!
		</h3>

		<a href="https://getbootstrap.com/docs/5.1/components/navbar/" target="_blank">Navbar</a>

		<hr />

		<h3>
			We should write [app.UseStaticFiles();] in Program.cs!
		</h3>

		<hr />
	</div>

	<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

	<script src="~/lib/jquery/jquery.min.js"></script>
	<script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
