@page
@model Server.Pages.Learn006Model

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>

	@*
		Razor Block Comment - Does Not Send To Client
	*@

	@*
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	*@

	<!--
		HTML Block Comment - Send To Client
	-->

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
	<h3>
		Hello, World!
	</h3>
</body>
</html>
