@page
@model Server.Pages.Learn007Model

@{
	// Razor Block C# Code

	string myText = "Hello, World!";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
	<h3>
		@myText
	</h3>

	<hr />

	<h3>
		@(myText)
	</h3>

	<hr />
</body>
</html>
