@page
@model Server.Pages.Learn013Model

@*
	HTML Elements:

	- Inline Element: b, i, u, ...
	- Block Element: p, div, h1, h2, ...
*@

@*
	Bad Practice:

	<div>Dariush</div>
*@

@*
	Bad Practice:

	<b>
		Dariush
	</b>
*@

<div>
	Hi, I'm <b>Dariush</b><i>Tasdighi</i>
</div>

@for (var index = 1; index <= 5; index++)
{
	<h3>
		Hello, World (@(index))!
	</h3>

	<hr />
}

<h3>
	Now Learn: /Index
</h3>

<hr />
