@page
@model Server.Pages.Learn008Model

@{
	string myText = "Hello, World!";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
	<h3>
		@(myText)
	</h3>

	@*
		Error: Razor

		@(myNewText)
	*@

	@{
		string myNewText = "Hello Again, World!";
	}

	<hr />

	<h3>
		@(myNewText)
	</h3>

	<hr />
</body>
</html>
