@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<footer class="footer border-top py-3 bg-light text-muted fixed-bottom" dir="ltr">
	<div class="container">
		<span class="text-muted text-light">
			&copy;2022 - <a href="https://DTAT.ir">DTAT.ir</a>
		</span>
	</div>
</footer>
