<header>
	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#">متخصصین ایرانی</a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a asp-page="Index" class="nav-link">خانه</a>
					</li>

					<li class="nav-item">
						<a asp-page="About" class="nav-link">درباره ما</a>
					</li>

					<li class="nav-item">
						<a asp-page="Contact" class="nav-link">تماس با ما</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
