@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<title>@(ViewData["Title"])</title>

<meta name="author" content="Mr. Dariush Tasdighi" />
<meta name="description" content="A simple HTML5 Template for new projects." />
